@import "tailwindcss";

:root {
  --background: 255, 255, 255;  /* white in RGB */
  --foreground: 23, 23, 23;     /* #171717 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10, 10, 10;   /* #0a0a0a */
    --foreground: 237, 237, 237; /* #ededed */
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica;
}

.theme {
  background: rgba(var(--background), 0.65) !important;
  color: rgb(var(--foreground)) !important;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(12px);
}

.theme-opp-background {
  background: rgba(var(--foreground), 0.6) !important;
  color: rgb(var(--background)) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 1rem;
}
